<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger To Eat</title>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
